body {
    margin-top:100px;
}

@media screen and (min-width: 480px) {
    body {
       /* background-color: green;*/
    }

}

@media (max-width: 480px) {
    body {
        background-color: yellow;
    }
    label{
        display: block;
    }

}

